force-app/main/default/flows/account_new_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Account_Assignment</name>
        <label>Account Assignment</label>
        <locationX>434</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>objAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Descrption</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_records</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>industry</name>
        <dataType>String</dataType>
        <displayField>Industry</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>account new records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>account new records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_records</name>
        <label>create records</label>
        <locationX>643</locationX>
        <locationY>313</locationY>
        <inputReference>objAccount</inputReference>
    </recordCreates>
    <screens>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>204</locationX>
        <locationY>170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Assignment</targetReference>
        </connector>
        <fields>
            <name>Account_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>objAccount.Name</elementReference>
            </defaultValue>
            <fieldText>Account name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Descrption</name>
            <defaultValue>
                <stringValue>{!objAccount.Description}{!objAccount.Name}</stringValue>
            </defaultValue>
            <fieldText>Descrption</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Industry</name>
            <choiceReferences>industry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
