force-app/main/default/flows/Contact_phoe_upadte.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_contcts</name>
        <label>Add contcts</label>
        <locationX>557</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>update_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Upadte_contacts_from_account</name>
        <label>Upadte contacts from account</label>
        <locationX>693</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contcts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Contact phoe upadte {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact phoe upadte</label>
    <loops>
        <name>Loop_Contact</name>
        <label>Loop Contact</label>
        <locationX>412</locationX>
        <locationY>363</locationY>
        <collectionReference>Get_contact_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Upadte_contacts_from_account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>upadte_contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact_records</name>
        <label>Get contact records</label>
        <locationX>246</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upadte_contacts</name>
        <label>upadte contacts</label>
        <locationX>502</locationX>
        <locationY>162</locationY>
        <inputReference>update_contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_contact_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>update_contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
